In [1]:
from database_utils import DatabaseConnector
from data_extraction import DataExtractor
from data_cleaning import DataCleaning
import yaml
import pandas as pd
from sqlalchemy import create_engine,text,inspect
import pandas as pd

In [2]:
from database_utils import DatabaseConnector
from data_extraction import DataExtractor
from data_cleaning import DataCleaning
import yaml
import pandas as pd
from sqlalchemy import create_engine,text,inspect
import pandas as pd 

# tabula_pdf_connector = DataExtractor()
# tabula_pdf = tabula_pdf_connector.retrieve_pdf_data('https://data-handling-public.s3.eu-west-1.amazonaws.com/card_details.pdf')
# tabula_pdf_cleaning = DataCleaning(tabula_pdf)

In [3]:
rest_api_df = DataExtractor()

In [12]:
df=rest_api_df.retreive_stores_data(store_number=29)

In [14]:
df2 = df
rest_api_cleaner = DataCleaning(df)

In [17]:
rest_api_cleaner.date_formats('opening_date').

['%Y-%m-%d', '%Y-%d-%m']

In [ ]:
def date_formats(df,date_column:str): 
    '''
    This method 
    '''
    df[date_column].replace('[^a-zA-Z0-9]','-',regex=True,inplace=True)
    date_strings = set(list(df[date_column].replace('[0-9]','1',regex=True)))
    ls = []
    ts =[]
    print(date_strings)
    for n,date_string in enumerate(date_strings):
        date_format = re.findall(r"[a-zA-Z0-9]+",date_string)
        if len(date_format)==3:
            format_string = ''
            for i in date_format:
                try:
                    int(i)
                    if len(i)==4:
                        format_string +='%Y-'

                    elif len(i)==2 and '%m-' in format_string or '%B-' in format_string:
                        format_string +='%d-'

                    elif len(i) ==2:
                        format_string +='%m-'
                except ValueError:
                    format_string +='%B-'
            ls.append(format_string)
            ts.append(format_string)
    for n,i in enumerate(ts):
        if '-%m-%d-' in i:
            format = i.replace(f'-%m-%d-',f'-%d-%m-')
            ls.append(format)
        elif '%m-%Y-%d-' == i :
            format = f'%d-%Y-%m-'
            ls.append(format)
        elif '%d-%Y-%m-' == i:
            format = f'%m-%Y-%d-'
            ls.append(format)
    lsv2 = list(set(ls))
    date_formats_list = [i[:-1] for i in lsv2]
    return date_formats_list

In [10]:
rest_api_cleaner.get_unique_data_types()

{'index': [int],
 'address': [str],
 'longitude': [str, float],
 'locality': [str],
 'store_code': [str],
 'staff_numbers': [int],
 'opening_date': [pandas._libs.tslibs.timestamps.Timestamp],
 'store_type': [str],
 'latitude': [str, float],
 'country_code': [str],
 'continent': [str]}

In [ ]:
d_c = {'DE':[],'US':[],'GB':[]}
ls_de = []
ls_us = []
ls_gb =[]
for n,i in enumerate(df['country_code']):
    if i == 'DE':
         ls_de.append(df['continent'].iloc[n])

    elif i== 'GB':
         ls_gb.append(df['continent'].iloc[n])

    elif i == 'US':
         ls_us.append(df['continent'].iloc[n]) 

d_c['DE'].append(list(set(ls_de))) 
d_c['GB'].append(list(set(ls_gb)))
d_c['US'].append(list(set(ls_us)))
print(d_c)

In [6]:
rest_api_cleaner.called_clean_store_data()

c:\Users\Nasir\OneDrive\Documents\Coding journey\Ai Core\Multinational Retail Data Centralisation\data_cleaning.py:96: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[date_column].iloc[n] = pd.to_datetime(df[date_column].iloc[n], format=format)
c:\Users\Nasir\OneDrive\Documents\Coding journey\Ai Core\Multinational Retail Data Centralisation\data_cleaning.py:96: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[date_column].iloc[n] = pd.to_datetime(df[date_column].iloc[n], format=format)
c:\Users\Nasir\OneDrive\Documents\Coding journey\Ai Core\Multinational Retail Data Centralisation\data_cleaning.py:96: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[date_column].iloc[n] = pd.to_datetime(df[date_column].iloc[n], format=format)
c:\Users\Nasir\OneDrive\Documents\Coding journey\Ai Core\Multinational Retail Data Centralisation\data_cleaning.py:96: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[date_column].iloc[n] = pd.to_datetime(df[date_column].iloc[n], format=format)
c:\Users\Nasir\OneDrive\Documents\Coding journey\Ai Core\Multinational Retail Data Centralisation\data_cleaning.py:96: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[date_column].iloc[n] = pd.to_datetime(df[date_column].iloc[n], format=format)
c:\Users\Nasir\OneDrive\Documents\Coding journey\Ai Core\Multinational Retail Data Centralisation\data_cleaning.py:96: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[date_column].iloc[n] = pd.to_datetime(df[date_column].iloc[n], format=format)
c:\Users\Nasir\OneDrive\Documents\Coding journey\Ai Core\Multinational Retail Data Centralisation\data_cleaning.py:96: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[date_column].iloc[n] = pd.to_datetime(df[date_column].iloc[n], format=format)
c:\Users\Nasir\OneDrive\Documents\Coding journey\Ai Core\Multinational Retail Data Centralisation\data_cleaning.py:96: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[date_column].iloc[n] = pd.to_datetime(df[date_column].iloc[n], format=format)
c:\Users\Nasir\OneDrive\Documents\Coding journey\Ai Core\Multinational Retail Data Centralisation\data_cleaning.py:96: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[date_column].iloc[n] = pd.to_datetime(df[date_column].iloc[n], format=format)
c:\Users\Nasir\OneDrive\Documents\Coding journey\Ai Core\Multinational Retail Data Centralisation\data_cleaning.py:96: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[date_column].iloc[n] = pd.to_datetime(df[date_column].iloc[n], format=format)

,index,address,longitude,locality,store_code,staff_numbers,opening_date,store_type,latitude,country_code,continent
0,0,N A,,N/A,WEB-1388012W,325,2010-12-06 00:00:00,Web Portal,,GB,Europe
0,1,Flat 72W Sally isle East Deantown E7B 8EB Hig...,5162907.0,High Wycombe,HI-9B97EE4E,34,1996-10-25 00:00:00,Local,74934.0,GB,Europe
0,2,Heckerstra e 4 5 50491 S ckingen Landshut,4852961.0,Landshut,LA-0772C7B9,92,2013-12-04 00:00:00,Super Store,1216179.0,DE,Europe
0,3,5 Harrison tunnel South Lydia WC9 2BE Westbury,5126.0,Westbury,WE-1DE82CEE,69,2014-02-01 00:00:00,Super Store,21875.0,GB,Europe
0,4,Studio 6 Stephen landing South Simon B77 2WA ...,530233.0,Belper,BE-18074576,35,2019-09-09 00:00:00,Local,148119.0,GB,Europe
0,5,Flat 92u Christian harbors Port Charlotte N57 ...,5338333.0,Gainsborough,GA-CAD01AC2,36,1995-05-15 00:00:00,Local,76667.0,GB,Europe
0,6,7 Gillian rue West Robertside PH4 8NY Rutherglen,5582885.0,Rutherglen,RU-C603E990,92,2001-04-01 00:00:00,Super Store,421376.0,GB,Europe
0,7,Lilija He Allee 660 34566 Regensburg Stuttgart,4878232.0,Stuttgart,ST-229D997E,34,2000-01-06 00:00:00,Local,917702.0,DE,Europe
0,8,510 Jill Mill South Laura FL 38723 Kaukauna,4427804.0,Kaukauna,KA-FA7ED3B8,31,2022-05-09 00:00:00,Local,8827205.0,US,America
0,9,3 Lee valleys West Janetview DY4M 2RL Hartley,5138673.0,Hartley,HA-974352FE,20,2004-11-09 00:00:00,Local,30367.0,GB,Europe

In [8]:
rest_api_cleaner.get_unique_data_types()

{'index': [int],
 'address': [str],
 'longitude': [str, float],
 'locality': [str],
 'store_code': [str],
 'staff_numbers': [str, float],
 'opening_date': [str, pandas._libs.tslibs.timestamps.Timestamp],
 'store_type': [str],
 'latitude': [str, float],
 'country_code': [str],
 'continent': [str]}

In [10]:
def date_formats(self,date_column): 
    df = self.df
    df[date_column].replace('[^a-zA-Z0-9]','-',regex=True,inplace=True)
    date_strings = set(list(df[date_column].replace('[0-9]','1',regex=True)))
    ls = []
    ts =[]
    for n,date_string in enumerate(date_strings):
        date_format = re.findall(r"[a-zA-Z0-9]+",date_string)
        if len(date_format)==3:
            format_string = ''
            for i in date_format:
                try:
                    int(i)
                    if len(i)==4:
                        format_string +='%Y-'

                    elif len(i)==2 and '%m-' in format_string or '%B-' in format_string:
                        format_string +='%d-'

                    elif len(i) ==2:
                        format_string +='%m-'
                except ValueError:
                    format_string +='%B-'
            ls.append(format_string)
            ts.append(format_string)
    for n,i in enumerate(ts):
        if '-%m-%d-' in i:
            format = i.replace(f'-%m-%d-',f'-%d-%m-')
            ls.append(format)
        elif '%m-%Y-%d-' == i :
            format = f'%d-%Y-%m-'
            ls.append(format)
        elif '%d-%Y-%m-' == i:
            format = f'%m-%Y-%d-'
            ls.append(format)
    lsv2 = list(set(ls))
    date_formats_list = [i[:-1] for i in lsv2]
    return date_formats_list

In [11]:
df

,index,address,longitude,locality,store_code,staff_numbers,opening_date,store_type,latitude,country_code,continent
0,0,N A,,N/A,WEB-1388012W,325.0,2010-12-06 00:00:00,Web Portal,,GB,Europe
0,1,Flat 72W Sally isle East Deantown E7B 8EB Hig...,5162907.0,High Wycombe,HI-9B97EE4E,34.0,1996-10-25 00:00:00,Local,74934.0,GB,Europe
0,2,Heckerstra e 4 5 50491 S ckingen Landshut,4852961.0,Landshut,LA-0772C7B9,92.0,2013-12-04 00:00:00,Super Store,1216179.0,DE,Europe
0,3,5 Harrison tunnel South Lydia WC9 2BE Westbury,5126.0,Westbury,WE-1DE82CEE,69.0,2014-02-01 00:00:00,Super Store,21875.0,GB,Europe
0,4,Studio 6 Stephen landing South Simon B77 2WA ...,530233.0,Belper,BE-18074576,35.0,2019-09-09 00:00:00,Local,148119.0,GB,Europe
...,...,...,...,...,...,...,...,...,...,...,...
0,446,T schestra e 25 39039 N rdlingen Kirchlengern,522.0,Kirchlengern,KI-78096E8C,61.0,2005-12-05 00:00:00,Super Store,863333.0,DE,Europe
0,447,K0ODETRLS3,807.0,3VHFDNP8ET,9D4LK7X4LZ,236.0,,NN04B3F6UQ,8.0,B3EH2ZGQAV,1WZB1TE1HL
0,448,Studio 8 Moss mall West Linda M0E 6XR High Wy...,5162907.0,High Wycombe,HI-EEA7AE62,33.0,1998-05-14 00:00:00,Local,74934.0,GB,Europe
0,449,Baumplatz 6 80114 K tzting Bretten,4903685.0,Bretten,BR-662EC74C,35.0,2020-10-17 00:00:00,Local,870745.0,DE,Europe
0,450,Gotthilf Rose Stra e 7 3 45457 Feuchtwangen B...,5064336.0,Bad Honnef,BA-B4AED588,36.0,2001-12-05 00:00:00,Local,72278.0,DE,Europe

In [ ]:
new_order = ['index', 'address', 'latitude', 'longitude', 'locality', 
             'store_code', 'staff_numbers', 'opening_date', 'store_type',
             'country_code', 'continent']
df = df.reindex(columns=new_order)

In [ ]:
df.info()
#drop lat
#staff_number is a valid number
#country code and contine code are the same

In [ ]:
formats = rest_api_cleaner.date_formats('opening_date')
formats

In [ ]:
date_column = 'opening_date'
for n,i in enumerate(df[date_column]):
    for format in formats:
        try:
            df[date_column].iloc[n] = pd.to_datetime(df[date_column].iloc[n], format=format)
            # print(pd.to_datetime(df[date_column][n], format=format))
            break  # Exit loop if successful conversion
        except ValueError:
            pass  # Handle format mismatch and try the next format

        # Handle remaining rows (e.g., fill with a default date)
for n,i in enumerate(df[date_column]):
    if type(i) != pd._libs.tslibs.timestamps.Timestamp:
        df[date_column].iloc[n] = ""

In [ ]:
list(set(list(df['continent'])))
for i in enumerate(df['Country_code'])

In [ ]:
#-drop column lat
#-replace special strings with space and for address replace \n with space
#-make sure the country code and the continent are the same  
#-remove nulls in all columns but remove lat/lng column together

In [ ]:
for n,i  in enumerate(df['opening_date']):
    print(i,n)

In [ ]:
type(df['opening_date'])

In [ ]:
rest_api_cleaner.valid_date_time(date_column='opening_date',formats =formats)

In [ ]:
df

In [ ]:
df['opening_date'][50:100]

In [ ]:
import re
def date_format(date_column,df):
    df[date_column].replace('[^a-zA-Z0-9]','-',regex=True,inplace=True)
    formats = set(list(df[date_column].replace('[0-9]','1',regex=True)))
    potential_formats = []
    for n,date_string in enumerate(formats):
        date_format = re.findall(r"[a-zA-Z0-9]+",date_string)
        if len(date_format)==3:
            potential_formats.append(date_string)
    return potential_formats

date_strings = date_format('opening_date',df)

In [ ]:
date_time_hash = {'%B':['Monday','Tuesday','Wednesday','Thursday','Friday','Saturday','Sunday','Mon','Tue','Wed','Thu','Fri','Sat','Sun'],
 '%M':['January','Febuary','March','April','May','June','July','August','September','October','November','December']
}

In [ ]:
date_strings

In [ ]:
import re
ls = []
ts =[]
for n,date_string in enumerate(date_strings):
    date_format = re.findall(r"[a-zA-Z0-9]+",date_string)
    if len(date_format)==3:
        format_string = ''
        for i in date_format:
            try:
                int(i)
                if len(i)==4:
                    format_string +='%Y-'

                elif len(i)==2 and '%m-' in format_string or '%B-' in format_string:
                    format_string +='%d-'

                elif len(i) ==2:
                    format_string +='%m-'
            except ValueError:
                format_string +='%B-'
        ls.append(format_string)
        ts.append(format_string)
for n,i in enumerate(ts):
    if '-%m-%d-' in i:
        format = i.replace(f'-%m-%d-',f'-%d-%m-')
        ls.append(format)
    elif '%m-%Y-%d-' == i :
        format = f'%d-%Y-%m-'
        ls.append(format)
    elif '%d-%Y-%m-' == i:
        format = f'%m-%Y-%d-'
        ls.append(format)
lsv2 = list(set(ls))
date_formats = [i[:-1] for i in lsv2 ]
print(date_formats)

In [ ]:
    def date_formats(self,date_column): 
        df = self.df
        df[date_column].replace('[^a-zA-Z0-9]','-',regex=True,inplace=True)
        date_strings = set(list(df[date_column].replace('[0-9]','1',regex=True)))
        potential_formats = []
        ls = []
        ts =[]
        for n,date_string in enumerate(date_strings):
            date_format = re.findall(r"[a-zA-Z0-9]+",date_string)
            if len(date_format)==3:
                format_string = ''
                for i in date_format:
                    try:
                        int(i)
                        if len(i)==4:
                            format_string +='%Y-'

                        elif len(i)==2 and '%m-' in format_string or '%B-' in format_string:
                            format_string +='%d-'

                        elif len(i) ==2:
                            format_string +='%m-'
                    except ValueError:
                        format_string +='%B-'
                ls.append(format_string)
                ts.append(format_string)
        for n,i in enumerate(ts):
            if '-%m-%d-' in i:
                format = i.replace(f'-%m-%d-',f'-%d-%m-')
                ls.append(format)
            elif '%m-%Y-%d-' == i :
                format = f'%d-%Y-%m-'
                ls.append(format)
            elif '%d-%Y-%m-' == i:
                format = f'%m-%Y-%d-'
                ls.append(format)
        lsv2 = list(set(ls))
        date_formats_list = [i[:-1] for i in lsv2]
        return date_formats_list

In [ ]:
ts.append('%m-%Y-%d-')

In [ ]:
ls

In [ ]:
import re

date_format = "%m-%Y-%d-"

# Swap %m and %d using re

In [ ]:
date_strings

In [ ]:
format_string +='%m-'
format_string +='%d-'
print(format_string)

In [ ]:
len(format_string)

In [ ]:
ls

In [ ]:
set(re.findall(r"[^\w]+", date_string))